# RPC URL for blockchain connection
# Example for Ethereum Mainnet: https://eth-mainnet.alchemyapi.io/v2/your-api-key
# Example for Sepolia Testnet: https://eth-sepolia.alchemyapi.io/v2/your-api-key
RPC_URL_MAINNET=https://eth-mainnet.alchemyapi.io/v2/YOUR_API_KEY
RPC_URL_POLYGON=https://polygon-mainnet.alchemyapi.io/v2/YOUR_API_KEY
RPC_URL_BASE=https://base-mainnet.alchemyapi.io/v2/YOUR_API_KEY
RPC_URL_SEPOLIA=https://eth-sepolia.alchemyapi.io/v2/YOUR_API_KEY
RPC_URL_BASE_SEPOLIA=https://base-sepolia.alchemyapi.io/v2/YOUR_API_KEY
RPC_URL_ARBITRUM=https://arb-mainnet.g.alchemy.com/v2/YOUR_API_KEY
